<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="/images/logo.png" type="image/gif" sizes="16x16" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Allerta&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="jumbotron text-center home">
      <img class="navImg" src="/images/white_logo_transparent_background.png" />
    </div>
    <div class="text-center about">
      <h1>About Us</h1>
      <p class="bodytext text-center">
        Coalesce web page allows users to Register by providing Name, E-mail and
        password. Once registered users will be redirected to login page where
        users will be required to enter email and password then redirected to
        the front page where user can enter location once user clicks the search
        button 10 Restaurant locations will appear where user will have the
        ability to like or dislike restaurants around his geographic area.
        Future Development we plan on making this web page where two users can
        have access to the same portal and compare restaurants that both parties
        have in common to make it easer to find a place here both individuals
        can enjoy a meal. Technology used in the project Passport, Auth, EJS,
        Json, Sequelize, Yelp for API and Bootstrap for styling of the web page.
      </p>
      <h2>Coalesce Team</h2>
      <ul style="list-style: none;">
        <li>Niles Bingham, <i>Back-End Developer</i></li>
        <li>Christian Maldonado, <i>Back-End Developer</i></li>
        <li>Matthew Bayers, <i>Front-End Developer</i></li>
        <li>Noe Hernandez, <i>Front-End Developer</i></li>
        <li>Omar Abbasi, <i>Front-End Developer</i></li>
      </ul>
      <h2>Future Developments</h2>
      <ul style="list-style: none;">
        <li>
          Geolocation: The ability to use user's current location to refine
          restaurant search
        </li>
        <li>A rating system on a scale of 1-5 as opposed to 0 and 1</li>
        <li>
          Ability to handle multiple users in a group as opposed to just two
        </li>
      </ul>
    </div>
    <footer>
      <div class="container text-center">
        <a class="footerLink" href="/home">Home - </a>
        <a class="footerLink" href="/">Login - </a>
        <a class="footerLink" href="/auth/register">Register</a> - &copy; 2020
      </div>
    </footer>
  </body>
</html>
