<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="/images/logo.png" type="image/gif" sizes="16x16" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body>
    <div class="jumbotron text-center home">
      <img class="navImg" src="/images/white_logo_transparent_background.png" />
    </div>
    <div class="text-center about">
      <p class="pageHeader">Coalesce Team</p>

      <ul style="list-style: none;">
        <li>Niles Bingham, <i>Back-End Developer</i></li>
        <li>Christian Maldonado, <i>Back-End Developer</i></li>
        <li>Matthew Bayers, <i>Front-End Developer</i></li>
        <li>Noe Hernandez, <i>Front-End Developer</i></li>
        <li>Omar Abassi, <i>Front-End Developer</i></li>
      </ul>
    </div>

    <footer>
      <div class="container text-center">
        <a class="footerLink" href="/home">Home - </a>
        <a class="footerLink" href="/">Login - </a>
        <a class="footerLink" href="/auth/register">Register</a> - &copy; 2020
      </div>
    </footer>
  </body>
</html>
