<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body>
    <div class="jumbotron text-center home">
      <img class="navImg" src="/images/white_logo_transparent_background.png" />
    </div>
    <div class="text-center">
      <h3>Welcome, <%= user.dataValues.username %></h3>
    </br>
      <form action="/home" method="post">
        <div>
          <label for="search">Find Restaurants Near You: </label>
          <input type="text" name="search" id="search" />
        </div>
        <button type="submit"> search</button>
      </form>
      <a href="/auth/logout" id="logout">Logout</a>
    </div>
  </body>
</html>
