<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="/images/logo.png" type="image/gif" sizes="16x16" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body>
    <div class="jumbotron text-center home">
      <img class="navImg" src="/images/white_logo_transparent_background.png" />
    </div>
    <div class="text-center">
      <p class="pageHeader">Welcome, <%= user.dataValues.username %></p>
    </br>
      <form action="/restaurant" method="post">
        <span class="search">
          <label for="search">Find Restaurants Near You: </label>
          <input type="text" name="search" id="search" />
        <button type="submit"><i class="fa fa-search"></i></button>
        </span>
      </form>
      <a href="/auth/logout" id="logout">Logout</a>
    </div>
  </body>
</html>
