<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <h1>Welcome <%= user.dataValues.username %></h1>

    <a href="/auth/logout">Logout</a>

    <form action="/yelp" method="post">
      <div>
        <label for="search">Search Area</label>
        <input type="text" name="search" id="search" />
      </div>
    </form>
  </body>
</html>
