<h1>Login</h1>

<form action="/auth/" method="POST">
  <div>
    <lablel for="name">Name</lablel>
    <input type="text" id="name" name="name" required />
  </div>
  <div>
    <lablel for="email">Email</lablel>
    <input type="email" id="email" name="email" required />
  </div>
  <div>
    <lablel for="password">Password</lablel>
    <input type="password" id="password" name="password" required />
  </div>
  <button type="submit">Login</button>
</form>
<a href="/auth/register">Register</a>
