<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="/images/logo.png" type="image/gif" sizes="16x16" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coalesce</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body>
    <div class="jumbotron loginJumbo text-center">
      <img class="navImg" src="/images/white_logo_transparent_background.png" />
    </div>
    <div class="container loginContainer">
      <form action="/auth/" method="POST">
        <div class="separate">
          <lablel for="email">E-Mail: </lablel>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            required
          />
        </div>
        <div class="separate">
          <lablel for="password">Password: </lablel>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            required
          />
        </div>
        <br />
        <div class="text-center">
          <button type="submit">Login</button><br />
          <a class="pageLink" href="/auth/register">Register</a>
        </div>
      </form>
    </div>

    <footer>
      <div class="container text-center">
        <a class="footerLink" href="/home/about">About Us</a> -
        <a class="footerLink" href="/auth/register">Register</a> - &copy; 2020
      </div>
    </footer>
  </body>
</html>
