<h1>Register</h1>
<form action="/auth/register" method="POST">
  <div>
    <lablel for="name">Name</lablel>
    <input type="text" id="name" name="username" required />
  </div>
  <div>
    <lablel for="email">Email</lablel>
    <input type="email" id="email" name="email" required />
  </div>
  <div>
    <lablel for="password">Password</lablel>
    <input type="password" id="password" name="password" required />
  </div>
  <button type="submit">Register</button>
</form>
<a href="/auth/login">Login</a>
