/*universal*/
body {
  background-color: lightgray !important;
  font-family: "Allerta", sans-serif;
}

footer {
  background-color: rgb(17, 17, 17);
  position: fixed;
  bottom: 0;
  width: 100%;
  color: lightgrey;
  font-size: 10px;
}

.footerLink {
  text-decoration: none;
  color: white;
}

.footerLink:hover {
  color: lightskyblue;
  text-decoration: none;
}

.separate {
  margin-bottom: 2%;
}

form-control:valid {
  background-color: white !important;
}

.pageLink {
  color: rgb(0, 111, 145);
}

.pageLink:hover {
  color: rgb(0, 151, 197);
}

.pageHeader {
  font-family: "Allerta", sans-serif;
  font-size: 25px;
  font-weight: bold;
}

/* home.ejs styles */
#logout {
  position: fixed;
  bottom: 1%;
}

#logout:hover {
  text-decoration: none;
}

.home {
  background-image: url("../images/depth.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0px !important;
}

.search {
  font-family: "Allerta", sans-serif;
}

.matches {
  color: black;
  text-decoration: none;
}

/*login.ejs styles */

.loginJumbo {
  background-image: url("../images/coffee.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 2%;
  border-radius: 0px !important;
}

.navImg {
  width: 140px;
}

.form-control:focus {
  border-color: rgb(0, 0, 0) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(65, 65, 65, 0.6) !important;
}

.loginContainer {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 100px;
  width: 30% !important;
}

/*register.ejs styles*/

.imgReg {
  width: 40%;
  float: left;
  height: 100vh;
}

.regForm {
  width: 40%;
  float: left;
  margin-left: 10%;
  margin-top: 3%;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.regHead {
  text-align: center;
  padding-top: 5%;
  font-size: 25px;
}

/*restaurant page*/

.restaurant {
  background-image: url("../images/top-view.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0px !important;
}

.card {
  float: left;
  margin-left: 30px;
  margin-bottom: 30px;
}

.card-img-top {
  height: 200px;
}

.card-title {
  font-size: 12px;
}

.card-text {
  font-size: 10px;
}

.card-body {
  background-color: rgb(240, 240, 240);
}

.srchContain {
  max-width: 90% !important;
  height: 80vh !important;
}

.yelp {
  width: 30%;
}

.resBottom {
  width: 100%;
}

.btn-color {
  background-color: rgb(122, 0, 0);
  color: white;
}

/*About.ejs*/

.about {
  border: 2px solid black;
  background-color: rgb(245, 245, 245);
  width: 80%;
  margin-left: 10%;
}

/*matches.ejs*/

.matchHeader {
  background-image: url("../images/group.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0px !important;
}

.matchImg {
  width: 40%;
  margin-bottom: 100px;
}

.matchLink {
  text-decoration: none;
  color: black;
}

/*media screen 550px*/
@media screen and (max-width: 550px) {
  .imgReg {
    float: none;
    width: 100%;
    height: 50vh;
    position: relative;
    top: -60px;
  }

  .regForm {
    width: 80%;
    margin-bottom: 100px;
  }

  .regHead {
    padding-top: 0px;
  }

  .loginContainer {
    width: 70% !important;
  }

  .srchContain {
    max-width: 100% !important;
    margin-left: 0;
  }

  .card {
    width: 90% !important;
    margin-left: 0;
  }
}

@media screen and (min-width: 550px) and (max-width: 1025px) {
  .registerBody {
    background-image: url("../images/forkReg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }

  .imgReg {
    visibility: hidden;
    float: none;
    width: 0px;
    height: 0px;
  }

  .regForm {
    width: 80%;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
  }

  .regHead {
    color: white;
  }

  .loginContainer {
    width: 60% !important;
  }

  .srchContain {
    max-width: 90% !important;
    height: 160vh !important;
    margin-left: 5%;
  }

  .card {
    width: 45% !important;
    margin-left: 3%;
  }
}
